graft src/pas
graft docs
graft news
graft tests
include .coveragerc
include .dockerignore
include .editorconfig
include *.txt
include *.yaml
include *.yml
include *.md
exclude *-mxdev.txt
exclude Dockerfile
exclude mx.ini
exclude Makefile
global-exclude *.pyc
global-exclude .DS_Store
prune docs/_build
